<aside class="menu col-sm-12 col-md-3">

    <h2 class="text-center">About Me</h2>
    <img src="/img/IMG20190923214312.jpg" alt="Sarfraz's Face" height="150" width="150">
    <p class="mt-4">Hi, I'm Mohd Sarfraz. I'm a 22-year-old front end web developer and from Lucknow, Uttar Pradesh, India
        and currently pursuing B.Tech from Lovely Professional University. My current focuses are finding ways to use technologies to empower and create long-lasting community!</p>


    <h2 class="mt-4 text-center">Contact Me</h2>
    <p class="mb-5">Interested in having a chat? Feel free to DM anytime on
        <a href="https://twitter.com/mohdsarfraz679/">Twitter.</a> I'm also always uploading few project on
        <a href="https://github.com/mohdsarfraz679/">GitHub</a> if you wanna follow me there! <br>
        <small>For academics inquries, please feel free to
            send me an e-mail at <mark><a class=""
                    href="mailto:mohdsarfraz679@gmail.com">mohdsarfraz679@gmail.com</a></mark></small>
    </p>

</aside>
</div>