<!-- FOOTER -->
<footer class="container-fluid full-width copyright center pt-4">
    <p>&copy; 2020 <a href="https://github.com/mohdsarfraz679/Portfolio"><strong>Mohd Sarfraz Portfolio</strong></a> ―
        Powered by LPU!
        <br> Created by Mohd Sarfraz
</footer>