<main class="main col-sm-12 col-md-9">

    <h1 id="welcome">Welcome to the Mohd Sarfraz's Portfolio!</h1>

    <p>Hello! 😊 Thank you for visiting my web portfolio—it means a lot to me. I have built this website from scratch in
        the past few months, using several different technologies and frameworks.</p>

    <p>For the front-end, I utilized the <a href="https://getbootstrap.com/">Bootstrap</a> toolkit and <a
            href="https://jquery.com/">jQuery</a> framework in order to have the foundations of a solid, responsive
        mobile-first design. The rest of the JavaScript is vanilla.</p>

    <p>For the back-end, I am using <a href="https://nodejs.org/en/">node.js</a> with the <a
            href="https://expressjs.com/">Express</a> framework on top.</p>


    <h3 id="pages">Current Pages</h3>

    <p>Currently, there are two separate pages on this website to demonstrate different features and functionality
        within the scope of the described framework:</p>

    <ul>
        <li><a class="font-weight-bold" href="/project">Projects:</a> is an example of a dynamic webpage that parses
            through a local .JSON file and pulls data to display in HTML.</li>
	<li><a class="font-weight-bold" href="/Newer_CV.pdf">Resume:</a> It is the pdf of my Resume/CV.</li>
    </ul>



</main>